:root {
    --page1color: steelblue;
    --page2color: tan;
    --page3color: teal;
    --page4color: slateblue;
    --animateSpeed: 2s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #fff;
    margin: 0;
    padding: 0;
    /* no scrollbar */
    overflow: hidden;
}
/* page colors */
#page1 {background: var(--page1color)}
#page2 {background: var(--page2color)}
#page3 {background: var(--page3color)}
#page4 {background: var(--page4color)}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 0 4rem;
}
.page h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin: 1rem;
}
.page p {
    font-size: 1.3rem;
}
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: #f4f4f4;
    color: #333;
    text-decoration: none;
    border: none;
    margin-top: 1rem;
    font-size: 1.1rem;
    transition: all 0.3s ease-in;
}
.btn:hover, .btnDark {
    background: #333;
    color: #fff;
}
.btnDark:hover {
    background: #f4f4f4;
    color: #333;
}
/* page animation */
#page1 h1 {
    transform: translateY(-1200px);
    animation: heading var(--animateSpeed) forwards ease-in 1s;
}
#page1 p {
    transform: translateX(-1800px);
    animation: text var(--animateSpeed) forwards ease-in 3s;
}
/* keyframes */
@keyframes heading {
    to {
        transform: translateY(0);
    }
}
@keyframes text {
    to {
        transform: translateX(0);
    }
}
